<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">

    <title>Enregistrement</title>
</head>
<body>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>S'enregistrer</h3>
                            <p class="mb-4">Enregistrez-vous pour effectuer votre tache</p>
                        </div>
                        {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.prenom, {
                            label: 'Prenom'
                        }) }}
                        {{ form_row(registrationForm.nom, {
                            label: 'Nom'
                        }) }}
                        {{ form_row(registrationForm.genre, {
                            label: 'Genre'
                        }) }}
                        {{ form_row(registrationForm.roles, {
                            label: 'Roles'
                        }) }}
                        {{ form_row(registrationForm.email, {
                            label: 'Email'
                        }) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        {{ form_row(registrationForm.localisation, {
                            label: 'Localisation'
                        }) }}

                        {{ form_row(registrationForm.description, {
                            label: 'Description'
                        }) }}
                        <button type="submit" class="btn btn-primary btn-lg">Créer Compte</button>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>